#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 0 2rem; */
  text-align: center;
  margin-top: 0% !important;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.header-img {
  height: 200px;
  width: 200px;
}

.header-my {
  width: 300px;
}

.header-mo {
  width: 430px;
}

.header-m {
  width: 500px;
}

.app_center {
  margin: auto !important;
}

.Toastify__toast-body {
  text-align: left !important;
}

.Toastify__close-button {
  background-color: transparent !important;
  color: #000 !important;
}

.wid_inp {
  width: 210px !important;
  height: 50px;
  border: 3px solid #ac8c18;
  border-radius: 10px;
}